<div class="relative mx-12 pb-12 grid grid-cols-1 gap-12 before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10">
    <div class="relative pb-12 md:col-span-2"> 
        <div class="sticky top-0"> 
            <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl">•</span>
            <h3 class="text-xl font-bold text-yellow-400">Lenguajes de programación</h3> 
            <h4 class="font-semibold text-xl text-gray-600 dark:text-white">Python Intermedio</h4> 
            <h5 class="font-semibold text-xl text-gray-600 dark:text-white">Java Intermedio</h5>
            <h6 class="font-semibold text-xl text-gray-600 dark:text-white">C# Intermedio</h6>  
        </div> 
    </div> 
    <div class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3">  
    </div> 
</div>
<div class="relative mx-12 pb-12 grid grid-cols-1 gap-12 before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10">
    <div class="relative pb-12 md:col-span-2"> 
        <div class="sticky top-0"> 
            <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl">•</span>
            <h1 class="text-xl font-bold text-yellow-400">Librerias </h1>
            <h2 class="font-semibold text-xl text-gray-600 dark:text-white">Numpy</h2>
            <h3 class="font-semibold text-xl text-gray-600 dark:text-white">Pandas</h3> 
            <h4 class="font-semibold text-xl text-gray-600 dark:text-white">Scipy</h4> 
            <h5 class="font-semibold text-xl text-gray-600 dark:text-white">Matplotlib</h5>
        </div> 
    </div> 
    <div class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3">  
    </div> 
</div>
<div class="relative mx-12 pb-12 grid grid-cols-1 gap-12 before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10">
    <div class="relative pb-12 md:col-span-2"> 
        <div class="sticky top-0"> 
            <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl">•</span>
            <h1 class="text-xl font-bold text-yellow-400">Habilidades Blandas </h1>
            <h2 class="font-semibold text-xl text-gray-600 dark:text-white">Comunicación Efectiva</h2>
            <h3 class="font-semibold text-xl text-gray-600 dark:text-white">Creatividad</h3> 
            <h4 class="font-semibold text-xl text-gray-600 dark:text-white">Toma de desición</h4> 
            <h5 class="font-semibold text-xl text-gray-600 dark:text-white">Trabajo en equipo</h5>
        </div> 
    </div> 
    <div class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3">  
    </div> 
</div>
<div class="relative mx-12 pb-12 grid grid-cols-1 gap-12 before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10">
    <div class="relative pb-12 md:col-span-2"> 
        <div class="sticky top-0"> 
            <span class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl">•</span>
            <h1 class="text-xl font-bold text-yellow-400">Proyectos Destacados </h1>
            <h2 class="font-semibold text-xl text-gray-600 dark:text-white">PROXIMAMENTE ...</h2>
        </div> 
    </div> 
    <div class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3">  
    </div> 
</div>
